*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/. idea/codeStyles/
/. idea/dictionaries/
/.idea/gradle. xml
/.idea/misc.xml
/.idea/vcs. xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
*/build/
out/
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/google-services.json
firebase-debug.log
*.jks
*.keystore
key.properties
*.log
*.apk
*.aab
*.ap_
*. dex
*~
*.swp
*.bak
*. orig