*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
*/build/
out/
/captures
.externalNativeBuild
.cxx
/app/src/google-services.json
firebase-debug.log
*.jks
*.keystore
key.properties
*.log
*.apk
*.aab
*.ap_
*.dex
*~
*.swp
*.bak
*.orig