#navigation_list,
a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

footer p {
    margin: 0;
}

#form-div {
    background-color: rgb(73, 43, 20);
    color: antiquewhite;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
}

#form-div input,
select,
textarea {
    width: 100%;
    padding: 5px;
    border: 0px;
    border-radius: 7px;
    resize: vertical;
    margin-bottom: 7px;
}

#form-div button {
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 5px;
}