body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 30px auto;
}

h1,
h2,
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(275deg, rgba(194, 194, 194, 1) 0%, rgba(209, 207, 207, 1) 100%);
    border-radius: 10px;
    padding: 0px 20px;
    margin: 20px auto;
}

#navigation_list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navigation_list ul li {
    margin-left: 20px;
}

#navigation_list button {
    background-color: rgb(73, 43, 20);
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 9px;
}

#navigation_list button a {
    color: rgb(240, 231, 231);
    text-decoration: none;
}

#navigation_list button {
    color: rgb(222, 193, 145);
}

main {
    background: linear-gradient(275deg, rgba(194, 194, 194, 1) 0%, rgba(209, 207, 207, 1) 100%);
    border: 0px;
    border-radius: 10px;
    padding: 20px;
}

p {
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

footer p {
    margin: 0;
}

#footer_link {
    color: rgb(73, 43, 20);
}

@media (max-width: 830px) {
    #header {
        flex-direction: column;
    }

    #navigation_list ul {
        flex-direction: column;
        gap: 10px;
        padding-left: 0px;
    }

    #navigation_list ul li {
        margin-left: 0px;
    }

    #navigation_list button {
        width: 100%;
    }

    #navigation_list {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    /*Pages -> Trips -> podstranice -> photos grid*/
    #photos {
        grid-template-columns: 1fr;
    }

    /*Homepage - sakrij ikonicu*/
    #icon {
        display: none;
    }

    /*Promjena velicine loga*/
    #header-logo img {
        width: 270px;
        padding-top: 20px;
    }
}

@media (min-width: 831px) and (max-width: 1024px) {
    body {
        padding: 20px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    main {
        max-width: 1000px;
    }

    #header {
        max-width: 1000px;
    }
}

@media (min-width: 1441px) {
    main {
        max-width: 1200px;
    }

    #header {
        max-width: 1200px;
    }
}
