#intro {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

#intro img {
    height: 100px;
    margin: auto;
}

#intro p {
    color: antiquewhite;
}

#tips {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
}

#tips p {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    color: antiquewhite;
}