#intro {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
}

#intro p {
    color: antiquewhite;
}

#tips {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
}

#tips p {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
}

h2 {
    color: antiquewhite;
}