body {
    background-color: rgb(255, 251, 242);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(177, 177, 177);
    border: 0px;
    border-radius: 10px;
    padding: 0px 20px;
}

#navigation_list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navigation_list ul li {
    margin-left: 20px;
}

#navigation_list button {
    background-color: rgb(73, 43, 20);
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 9px;
}

#navigation_list button a {
    color: rgb(240, 231, 231);
}

#navigation_list,
a {
    text-decoration: none;
    color: black;
}

main {
    background-color: rgb(177, 177, 177);
    border: 0px;
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 600px) {
    #header {
        flex-direction: column;
    }

    #navigation_list ul {
        flex-direction: column;
        gap: 10px;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    body {
        padding: 20px;
    }

    #navigation_list ul li {
        margin-left: 15px;
    }

    main {
        margin: 20px 0;
    }
}

@media (max-width: 1440px) {
    main {
        max-width: 1000px;
        margin: 30px auto;
    }

    #header {
        margin: 20px auto;
        max-width: 1000px;
    }
}

@media (min-width: 1441px) {
    main {
        max-width: 1200px;
        margin: 30px auto;
    }

    #header {
        margin: 20px auto;
        max-width: 1200px;
    }
}