/*samo za trips_index.html*/
#trips ul {
    padding-left: 0px;
}

#trips ul>li {
    list-style-type: none;
    background-color: rgb(73, 43, 20);
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

#trips ul>li a {
    color: antiquewhite;
    text-decoration: none;
}


/*za podstranice*/
#intro {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
}

#intro h2,
#intro p {
    color: antiquewhite;
}

#path {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
}

#path h3,
#path p,
#path li {
    color: antiquewhite
}

#activities {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
}

#activities p {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
}

#activities h3,
#activities li {
    color: antiquewhite;
}

#gallery {
    background-color: rgb(73, 43, 20);
    border-radius: 9px;
    padding: 10px;
}

#gallery h3 {
    color: antiquewhite;
}

#photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#photos img {
    border-radius: 10px;
    width: 100%;
}