#navigation_list,
a {
    text-decoration: none;
    color: black;
}

#trips ul {
    padding-left: 0px;
}

#trips ul>li {
    list-style-type: none;
    background-color: rgb(73, 43, 20);
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

#trips ul>li a {
    color: antiquewhite;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

footer p {
    margin: 0;
}