#navigation_list,
a {
    text-decoration: none;
    color: black;
}

#trips ul>li {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

footer p {
    margin: 0;
}